.tag {
  display: flex;
  gap: 4px;
  align-items: center;
  width: fit-content;
  height: 24px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  background-color: #f0f0f0;
  border-radius: 12px;
}
